services:
  db:
    image: postgres:14.3
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: test
      POSTGRES_DB: test
    container_name: tesloDb
    volumes:
      - ./postgres:/var/lib/postgresql/data
